/* Footer Areas */

.copyright,
.footer-content,
.address {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
}

.copyright {
    grid-area: copyright;
}

.footer-content {
    grid-area: footer-content;
}

.address {
    grid-area: address;
    justify-content: flex-end;
    padding: 0 40px;   

}

.address a{
    margin-left: 5px;
    border-radius: 20px;
    border: 5px solid var(--cor-links);
    border-bottom: 0px;
}