/* Footer Areas */

.copyright,
.footer-content,
.address {
    display: flex;
    justify-content: center;
    align-items: center;
}

.copyright {
    grid-area: copyright;
}

.footer-content {
    grid-area: footer-content;
}

.address {
    grid-area: address;
}
