/*Header Areas*/

.logo,
.header-content,
.nav {
    display: flex;
    justify-content: center;
    align-items: center;

}

.logo {
    grid-area: logo;
}

.header-content {
    grid-area: header-content;
}

.nav {
    grid-area: nav;
}