@import url("./header.css");


/*Css Global*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.flex {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}

.grid {
    background-color: aqua;
    display: grid;
    grid-template: 15% 70% 15% / 1fr;
    grid-template-areas:
        "header"
        "main"
        "footer";
    height: 100%;
    width: 100%;
}

.header {
    grid-area: header;
    background-color: rgb(182, 196, 201);
    display: grid;
    grid-template: 1fr/ 20% 30% 50%;
    grid-template-areas:
        "logo blank nav";
    justify-content: center;
    align-items: center;
}


.main {
    grid-area: main;
    background-color: lightcoral;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer {
    grid-area: footer;
    background-color: rgb(162, 184, 162);
    display: grid;
    grid-template: 1fr/ 20% 30% 50%;
    grid-template-areas:
        "logo blank nav";
    justify-content: center;
    align-items: center;
}
