/*Imports*/
@import url("./header.css");
@import url("./footer.css");
@import url("./colors.css");
@import url("./main.css");
@import url("./botMessage.css");
/*Fontes*/

@font-face{
    font-family: "regular";
    src: url("../assets/fonts/Inter_24pt-Regular.ttf");
}

@font-face{
    font-family: "logo";
    src: url("../assets/fonts/Inter_28pt-Bold.ttf");
}


/*Css Reset*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*Css Normalize*/
html, body {
    height: 100%;
    width: 100%;
    font-family: "regular";
    font-size: 16px;
    line-height: 1.5;
}


/*Css Global*/


.flex {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}

.grid {
    display: grid;
    grid-template: 15% 70% 15% / 1fr;
    grid-template-areas:
        "header"
        "main"
        "footer";
    height: 100%;
    width: 100%;
}


/*Principais Areas*/
.header {
    grid-area: header;
    display: grid;
    grid-template: 90% 10%/ 20% 30% 50%;
    grid-template-areas:
        "logo blank nav"
        "header-content header-content header-content";
    justify-content: center;
    align-items: center;
}


.main {
    grid-area: main;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer {
    grid-area: footer;
    display: grid;
    grid-template: 1fr/ 20% 30% 50%;
    grid-template-areas:
        "copyright footer-content address";
    justify-content: center;
    align-items: center;
}





